# Valores públicos (a segurança dos dados é feita pelo RLS no Supabase)
NEXT_PUBLIC_SUPABASE_URL=https://lgdbckmppeaddnhecwix.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_pdxx28s6BuGmWIYyhUnStA_wPkc-ZCs
